.wrap {
    padding-top: 1rem;
    padding-left: 1rem;
}

.editForm {
    margin: 1rem 0;
}

.pagination {
    text-align: center;
    padding: 1rem 0;
}


.main-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.wrap {
    padding-top: 1rem;
    padding-left: 1rem;
}


.item {
    display: block;
    margin-bottom: 1rem;
}

.item .title {
    display: inline-block;
    width: 5rem;
    text-align: right;
    margin-right: 1rem;
}

.item input {
    width: 15rem;
    margin-bottom: .5rem;
}

.btn {
    margin-left: 6rem;
    margin-right: 1rem;
}